<?xml version="1.0"?>
<launch>

	<node name="navx_publisher" pkg="navx_publisher" type="navx_publisher_node" output="screen">
		<param name="device" value="/dev/NAVX"/>
	</node>
	<include file="$(find adi_driver)/launch/adis16470.launch"> 
		<arg device="/dev/ADI" />
	</include>
	<node name="imu_zero" pkg="imu_zero" type="imu_zero_node" output="screen">
		<!--
		<remap from="data" to="navx_data"/>
		-->
	</node>

</launch>
